@tailwind base;
@tailwind components;
@tailwind utilities; 



:root {
  --roboto: 'Roboto', sans-serif;
    --text-shadow-color: #000;
      --text-shadow-offset-x: 1px;
      --text-shadow-offset-y: 1px;
      --text-shadow-blur: 5px;
  
}


body {
  overflow-x: hidden;
  font-family: var(--roboto);
  background: linear-gradient(to bottom, #000000, #0E002E);}

.Textshadow {
  text-shadow: var(--text-shadow-offset-x) var(--text-shadow-offset-y) var(--text-shadow-blur) var(--text-shadow-color);
}

.text-gradient {
  background: linear-gradient(90deg, #0075FF 10%, #F74EA1 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.head-btn {
  background-color:rgba(0, 0, 0, 0.25);
}




.headText {
  opacity: 1 !important;
}



.menuicon {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
}

.menuicon span {
  transition: transform 0.5s, width 0.5s, justify-content 0.5s;
}

.menuicon .line-1 {
  display: block;
  width: 90%;
  height: 5px;
  border-radius: 3px;
}
.menuicon .line-2 {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: 5%;
  height: 5px;
  border-radius: 3px;
}
.menuicon .line-3 {
  display: block;
  width: 90%;
  height: 5px;
  border-radius: 3px;
}


.openMenu {
  justify-content: center;
}

.openMenu .line-1 {
  transform:  rotate(-45deg);
  background-color: white;
  width: 95%;
  height: 4px;
} 
.openMenu .line-2 {
  background-color: white;
  width: 0%;
} 
.openMenu .line-3 {
  transform: translateY(-50%) rotate(50deg);
  background-color: white;
  width: 90%;
  height: 4px;
} 






.services {
  background-image: url(assets/imgs/services.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.service-overlay {
  background-color: rgba(254,74,226, 0.7);
}


@media (min-width: 768px) {
  .service-overlay {
    background-color: rgba(254, 74, 226, 0.9)
  }
}




.animation {
  background: url(assets/imgs/animation.jpg);
  background-position: center;
  background-size: cover;
}




.blury-bg {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}


@media (max-width: 700px) {
  .blury-bg {
      background-color: transparent;
      padding: 10px 30px;
      border-radius: 0;
      backdrop-filter: blur(0);
    }
}



/* animations */

@keyframes slideUp {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-to-left {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slide-to-right {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}



.about-img {
  transition: all 300ms ease-in-out;
  animation: slideUp 1s ease-in-out;
}

.text-about {
  transition: all 300ms ease-in-out;
  animation: slide-to-left 1s ease-in-out;
}


.hero {
  transition: all 300ms ease-in-out;
  animation: opacity 1s ease-in-out;
}


.ser-planet {
  transition: all 300ms ease-in-out;
  animation: slide-to-right 1s ease-in-out;
}

.ser-bg {
  transition: all 300ms ease-in-out;
  animation: opacity 1s ease-in-out;
}


.thirdBg {
  transition: all 300ms ease-in-out;
  animation: slide-to-right 1s ease-in-out;
}


.inov-text {
  transition: all 300ms ease-in-out;
  animation: slideUp 1s ease-in-out;
}

.value-text {
  transition: all 300ms ease-in-out;
  animation: slide-to-right 1s ease-in-out;
}



.ali {
  animation: spin 300ms ease-in-out forwards;
  }

.ali02 {
  animation: spin02 300ms ease-in-out forwards;
  }




@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.5);
  }

  100% {
    transform: rotate(180deg) scale(1.5);
  }
}

@keyframes spin02 {
  0% {
    opacity: 0;
    transform: scale(-0.5);
  }

  100% {
    transform: scale(-0.5);
    opacity: 1;
  }
}



.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.work {
  transition: opacity 300ms ease-in;
}

.overlay,
.overlay .play {
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.work:hover .overlay {
  opacity: 1;
}

.work:hover .overlay .play {
  transform: scale(2);
}


.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 50px;
  line-height: 1;
  opacity: .75;
  color: #FF01F4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #FF01F4;
}